body,
html {  
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  background: url(/images/logo.png) no-repeat center center fixed; 
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size:auto;
}

h1{
  color: rgb(13, 134, 214); 
  margin: 100px auto;
}

hr{
  width: 75px;
  margin: 20px 0px 0px 50%;
}
p{
  margin: 20px 0px 0px 5rem;
}

.buffer{
  height: 2rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  /* 1.5 rem corrects for bootstrap gutter */
  margin: 20px 0px 0px 5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
}





